body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.dot {
  pointer-events: none;
  margin: 0;
  padding: 0;
  border: none;
}
.headdown {
  background-image: url(svg/head/head_down.svg);
}
.headup {
  background-image: url(svg/head/head_up.svg);
}
.headleft {
  background-image: url(svg/head/head_left.svg);
}
.headright {
  background-image: url(svg/head/head_right.svg);
}
.bodydown {
  background-image: url(svg/body/body_down.svg);
}
.bodyup {
  background-image: url(svg/body/body_up.svg);
}
.bodyleft {
  background-image: url(svg/body/body_left.svg);
}
.bodyright {
  background-image: url(svg/body/body_right.svg);
}
.taildown {
  background-image: url(svg/tail/tail_down.svg);
}
.tailup {
  background-image: url(svg/tail/tail_up.svg);
}
.tailleft {
  background-image: url(svg/tail/tail_left.svg);
}
.tailright {
  background-image: url(svg/tail/tail_right.svg);
}
.curvedownleft {
  background-image: url(/svg/curve_dark/curve_dark_right.svg);
}
.curveupleft {
  background-image: url(/svg/curve_dark/curve_dark_left.svg);
}
.curveleftleft {
  background-image: url(/svg/curve_dark/curve_dark_down.svg);
}
.curverightleft {
  background-image: url(/svg/curve_dark/curve_dark_up.svg);
}
.curvedownright {
  background-image: url(/svg/curve_light/curve_light_left.svg);
}
.curveupright {
  background-image: url(/svg/curve_light/curve_light_right.svg);
}
.curveleftright {
  background-image: url(/svg/curve_light/curve_light_up.svg);
}
.curverightright {
  background-image: url(/svg/curve_light/curve_light_down.svg);
}
.fruit {
  background-image: url(/svg/fruits/apple2.svg);
}
.breakPoint {
  background-color: orange;
}
#board {
  display: grid;
  gap: 0;
  filter: brightness(40%);
  pointer-events: none;
  background-image: url("wood_bg.png");
}
input[type="button"] {
  outline: none;
}
#goLeft {
  pointer-events: none;
  filter: brightness(40%);
}
#goRight {
  pointer-events: none;
  filter: brightness(40%);
}
.menuButtons {
  background: darkgreen;
  border-radius: 10px;
  border: none;
  color: lightgreen;
  font-size: 6vh;
  margin: 10px;
  cursor: pointer;
}
.radioButtons label {
  vertical-align: middle;
}
input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}
.navButtons {
  background-color: grey;
  background-image: url("wood-pattern.png");
  color: darkgreen;
  border: none;
  cursor: pointer;
  filter: blur(2px);
}
#stats {
  grid-area: stats;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: "points" "difficulty-info";
}
.logo {
  display: flex;
  justify-content: space-around;
  height: 100%;
  font-size: 22vh;
  color: lightgreen;
  text-shadow: 2px 2px 4px #000000;
  grid-area: logo;
  border-bottom: solid black;
  background-color: darkgreen;
  background-image: url("wood-pattern.png");
}
.logoSpan {
  text-align: center;
  align-self: center;
}
#info {
  border: solid;
  border-radius: 10px;
  background-color: lightgreen;
  background-image: url("wood-pattern.png");
}
#gameOver {
  background-color: lightgreen;
  background-image: url("wood-pattern.png");
}
#footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  padding-left: 4%;
  background-color: darkgreen;
  color: lightgreen;
}

@media (orientation: landscape) {
  ul {
    padding-left: 20px;
  }
  main {
    display: grid;
    height: 100vh;
    grid-template-areas: "left board right" "footer footer footer";
    grid-template-columns: minmax(15px, 1fr) 95vh minmax(15px, 1fr);
    grid-template-rows: 95vh 5vh;
  }
  .radioButtons {
    margin-top: 10px;
  }
  .navButtons {
    font-size: 13vw;
  }
  #board {
    grid-row: 1/2;
    grid-column: 2/3;
    grid-area: board;
    grid-template-columns: repeat(20, 4.75vh);
    grid-template-rows: repeat(20, 4.75vh);

    margin: auto;
  }
  #goLeft {
    grid-row: 1/2;
    grid-column: 1/2;
    grid-area: left;
  }
  #goRight {
    grid-row: 1/2;
    grid-column: 3/4;
    grid-area: right;
  }
  #info {
    display: grid;
    grid-template-areas: "logo logo" "introduction play";
    grid-template-rows: 30% 70%;
    grid-template-columns: 60% 40%;
    position: absolute;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    overflow: hidden;
  }
  #introduction {
    grid-area: introduction;
    display: grid;
    grid-template-areas: "instructions diff-set";
    gap: 35px;
    padding: 3%;
  }
  #instructions {
    grid-area: instructions;
    font-size: calc(2vh + 0.35vw);
  }
  #difficulty-set {
    grid-area: diff-set;
    font-size: calc(2vh + 0.3vw);
  }
  #customValueInput {
    font-size: calc(2vh + 0.3vw);
  }
  #play {
    grid-area: play;
  }
  #gameOver {
    display: none;
    grid-template-areas:
      "logo logo"
      "stats menu"
      "stats restart";
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 30% 30%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #points {
    grid-area: points;
    text-align: center;
    align-self: center;
    font-size: 4.5vw;
  }
  #difficulty-info {
    grid-area: difficulty-info;
    text-align: center;
    align-self: center;
    font-size: 4.5vw;
  }
  #footer {
    grid-row: 2/3;
    grid-column: 1/4;
    grid-area: footer;
  }
}
@media (orientation: portrait) {
  main {
    display: grid;
    height: 100vh;
    grid-template-areas: "board board" "left right" "footer footer";
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100vw 1fr 5vh;
  }
  .radioButtons {
    margin-top: 1vh;
  }
  .navButtons {
    font-size: 15vh;
  }
  .logo {
    font-size: 9vh;
  }
  #board {
    width: 100vw;
    height: 100vw;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vw);
  }
  #goLeft {
    grid-area: left;
    border-right: darkgreen solid 2px;
  }
  #goRight {
    grid-area: right;
    border-left: darkgreen solid 2px;
  }
  #info {
    display: grid;
    grid-template-areas: "logo" "introduction" "play";
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    position: absolute;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    overflow: hidden;
  }
  #introduction {
    grid-area: introduction;
    padding: 3%;
  }
  #instructions,
  #difficulty-set {
    font-size: calc(1.9vh - 0.5vw);
  }
  #customValueInput {
    font-size: calc(1.9vh - 0.5vw);
  }
  #play {
    grid-area: play;
  }
  #gameOver {
    display: none;
    grid-template-areas: "logo" "stats" "menu" "restart";
    grid-template-columns: 100%;
    grid-template-rows: 25% 35% 20% 20%;
    position: absolute;
    left: 0;
    top: 0;
    width: 80vw;
    height: 80vh;
  }
  #points {
    grid-area: points;
    text-align: center;
    align-self: center;
    font-size: 4.5vh;
  }
  #difficulty-info {
    grid-area: difficulty-info;
    text-align: center;
    align-self: center;
    font-size: 4.5vh;
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideBackIn {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes lighten {
  0% {
    filter: brightness(40%);
  }
  100% {
    filter: brightness(100%);
  }
}
@keyframes darken {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(40%);
  }
}
@keyframes hideItem {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
